@font-face {
  font-family: 'Sabo-Filled';
  src: url('../font/Sabo-Filled.eot?#iefix') format('embedded-opentype'),  url('../font/Sabo-Filled.otf')  format('opentype'),
	     url('../font/Sabo-Filled.woff') format('woff'), url('../font/Sabo-Filled.ttf')  format('truetype'), url('../font/Sabo-Filled.svg#Sabo-Filled') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Sabo-Filled';
	background:#00334E;
	text-align:center;
}

h1 {
	margin-bottom:25px;
	line-height:66px;
	color:#fff;
	text-align:left;
	
}

h1 * {vertical-align:middle;}

.main {
	padding:25px;
}

.example {
	margin-bottom:25px !important;
}

textarea {
	width: 100%;
	height:30px;
	padding:10px 0;
	font-size:26px;
	line-height:26px;
	font-weight:bold;
	text-align:center;
	font-family: 'Sabo-Filled';
}

textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align:center;
  font-family: 'Sabo-Filled';
}

.hidden_textarea {
	position: absolute;
	left:-9999px;
}

.lifebar {
	margin-bottom:15px;
	color:#fff;
}

.game-view {
	display:none;
}
.game-over {
	display:none;
	font-size:30px;
}
.game-over h1 {
	text-align:center;
	color:red;
}

button {
	font-family: 'Sabo-Filled';
	background: none;
	padding:10px;
	border:0;
	font-size: 24px;
	color:#fff;
	border:1px solid #fff;
	cursor: pointer;
	transition: 0.2s all;
}

.wn {
	outline:3px solid red;
	animation: wn 0.2s ease-in-out
}

@keyframes wn {
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}
}

